.burger {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: none;
 
  // .burger__line
  &__line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 33px;
    height: 3px;
    background-color: $main-color;

    &:first-child {
      margin-top: -7px;
    }

    &:last-child {
      margin-top: 7px;
    }
  }

  @media (max-width: (576px)) {
    display: block;
  }

  &_active {
    z-index: 1000;
    right: 15px;

    .burger__line {
      background-color: $grey-color;

      &:first-child {
        transform: rotate(45deg);
        margin-top: 0;
      }

      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        transform: rotate(-45deg);
        margin-top: 0;
      }
    }
  }
}
