<footer class="footer" id="contacts">
  <div class="container">
    <h2 class="footer__title title">Contacts</h2>

    <div class="footer__descr">
      <p>Want to know more or just chat?</p>
      <p>You are welcome!</p>
    </div>

    <button class="footer__btn btn-reset">Send massage</button>

    <ul class="footer__socials socials">
      <li class="socials__item">
        <a href="#" class="socials__link socials__link_linked"></a>
      </li>

      <li class="socials__item">
        <a href="#" class="socials__link socials__link_insta"></a>
      </li>

      <li class="socials__item">
        <a href="#" class="socials__link socials__link_behance"></a>
      </li>

      <li class="socials__item">
        <a href="#" class="socials__link socials__link_dribble"></a>
      </li>
    </ul>

    <div class="footer__text">
      <span>Like me on</span>
      <span>LinkedIn, Instagram, Behance, Dribble</span>
    </div>
  </div>
</footer>
