<header class="header">
  <div class="container">
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item nav__item_active">
          <a class="nav__link" href="#">Home</a>
        </li>
        
        <li class="nav__item">
          <a class="nav__link" href="#about">About me</a>
        </li>
        
        <li class="nav__item">
          <a class="nav__link" href="#skills">Skills</a>
        </li>
        
        <li class="nav__item">
          <a class="nav__link" href="#portfolio">Portfolio</a>
        </li>
        
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>          
    </nav>   
  </div>
</header>
