<section class="hero">
  <div class="container">
    <div class="hero__content">
      <span class="hero__name">Denis <br> Novik</span>

      <div class="hero__info">
        <p>UX | UI designer</p>
        <p>24 years old, Minsk</p>
      </div>

      <div class="hero__language">
        <a href="#" class="hero__lang ">ru</a> |
        <a href="#" class="hero__lang hero__lang_active">eng</a>
      </div>

      <button class="burger btn-reset">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>

    <img class="hero__img" src="images/bg.jpg" alt="Главное изображение">
  </div>
</section>