<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="portfolio__title title">Portfolio</h2>

    <ul class="portfolio__list list-reset">
      <li class="portfolio__item">
        <img src="images/portfolio-1.jpg" alt="Портфолио" class="portfolio__img">
        <a href="#" class="portfolio__link">Online fashion store - Homepage</a>
      </li>

      <li class="portfolio__item">
        <img src="images/portfolio-2.jpg" alt="Портфолио" class="portfolio__img">
        <a href="#" class="portfolio__link">Reebok Store - Concept</a>
      </li>

      <li class="portfolio__item">
        <img src="images/portfolio-3.jpg" alt="Портфолио" class="portfolio__img">
        <a href="#" class="portfolio__link">Braun Landing Page - Concept</a>
      </li>
    </ul>
  </div>
</section>