<section class="skills" id="skills">
  <div class="container">
    <h2 class="skills__title title">Skills</h2>
    <p class="skills__subtitle">I work in such programs as</p>

    <ul class="skills__list list-reset">
      <li class="skills__item skills__item_ps">
        <p class="skills__name">Adobe Photoshop</p>

        <div class="skills__rating rating" data-value="4">
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
        </div>
      </li>

      <li class="skills__item skills__item_ai">
        <p class="skills__name">Adobe Illustrator</p>

        <div class="skills__rating rating" data-value="3">
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
        </div>
      </li>

      <li class="skills__item skills__item_ae">
        <p class="skills__name">Adobe After&nbsp;Effects</p>

        <div class="skills__rating rating" data-value="2">
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
        </div>
      </li>

      <li class="skills__item skills__item_figma">
        <p class="skills__name">Figma</p>
        
        <div class="skills__rating rating" data-value="4">
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
          <span class="rating__star">★</span>
        </div>
      </li>
    </ul>
  </div>
</section>