.about {
  background-color: $bg-color;
  @extend %pad-deck;  

  // .about__title
  &__title {
    margin-bottom: 17px;
  }

  // .about__descr
  &__descr {
    max-width: 485px;
    text-align: center;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media (max-width: (768px)) {
    padding: 80px 0;
  }
}