.header {
  background-color: $light-color;

  // .header__nav
  &__nav {
    padding: 32px 0;
    border-bottom: 1px solid $grey-color;
  }
}

.nav {

  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: (576px)) {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
    }
  }

  // .nav__item
  &__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $grey-color;

    // .nav__item_active
    &_active {
      color: $main-color;
    }

    @media (max-width: (576px)) {
      font-size: 34px;
      line-height: 42px;

      &:not(:last-child) {
        margin-bottom: 65px;
      }
    }
  }

  // .nav__link
  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $main-color;
    }
  }

  @media (max-width: (576px)) {
    position: fixed;
    padding-left: 20px;
    padding-right: 30px;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow-y: auto;
    background-color: $light-color;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &_active {
    opacity: 1;
    visibility: visible;
  }
}