.header {
  background-color: $light-color;
  
  // .header__nav
  &__nav {
    padding: 32px 0;
    border-bottom: 1px solid $grey-color;
  }
}

.nav {

  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .nav__item
  &__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $grey-color;
    
    // .nav__item_active
    &_active {
      color: $main-color;
    }
  }

  // .nav__link
  &__link {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $main-color;
    }
  }
}